

<h3>APIs</h3>
<ul class="nav nav-pills nav-stacked">
    {{#publicClasses classes}}
        <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
    {{/publicClasses}}
   {{!--  {{#allModules}}
        <li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
    {{/allModules}} --}}
</ul>